# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Don't send the following files to the docker daemon as the build context.

.git
.gitattributes

.editorconfig
.eslintrc
.eslintignore

README.md

docker-compose.yml
docker-compose.*.yml

mongodb-init.js

.cache
